@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@import "_variaveis";
@import "_header";
@import "_home";

//resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  outline: none;
}

body {
  background: $blackColor;
}
